layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "{mode} #[fg=#d8d0c0,bold]{session} {tabs}"
                format_right "{datetime}"
                format_space ""
                format_hide_on_overlength "true"
                format_precedence "lrc"
                border_enabled  "false"
                mode_normal  "#[bg=#8a9868,fg=#1c1b19,bold]  NORMAL "
                mode_locked  "#[bg=#988090,fg=#1c1b19,bold]  LOCKED "
                mode_pane    "#[bg=#7890a0,fg=#1c1b19,bold]  PANE "
                mode_tab     "#[bg=#c8b468,fg=#1c1b19,bold]  TAB "
                mode_resize  "#[bg=#e08060,fg=#1c1b19,bold]  RESIZE "
                mode_scroll  "#[bg=#80a090,fg=#1c1b19,bold]  SCROLL "
                mode_session "#[bg=#b07878,fg=#1c1b19,bold]  SESSION "
                mode_move    "#[bg=#c09058,fg=#1c1b19,bold]  MOVE "
                mode_tmux    "#[bg=#c8b468,fg=#1c1b19,bold]  TMUX "
                tab_normal              "#[fg=#988090] {name} "
                tab_normal_fullscreen   "#[fg=#988090] {name}  "
                tab_normal_sync         "#[fg=#988090] {name}  "
                tab_active              "#[fg=#d8d0c0,bold] {name} "
                tab_active_fullscreen   "#[fg=#d8d0c0,bold] {name}  "
                tab_active_sync         "#[fg=#d8d0c0,bold] {name}  "
                datetime          "#[fg=#988090] {format} "
                datetime_format   "%H:%M"
                datetime_timezone "Europe/London"
            }
        }
    }
}
