[Unit]
Description=Borg backup home directory to desktop
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-home.sh
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

# Give it time to WoL the desktop and finish
TimeoutStartSec=1800

[Install]
WantedBy=default.target
